body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: monospace, sans-serif;
}
.page{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.page, .logo {
    display: flex;
    flex-flow: row wrap;
}

.leftcontent {
    
}


